[user]
	name = Vid Drobnič
	signingkey = /Users/vidd/.ssh/id_ed25519.pub
	email = me@viddrobnic.com
[commit]
	gpgsign = true
[gpg]
	format = ssh
[core]
	editor = nvim
	excludesFile = ~/.gitignore
[push]
	autoSetupRemote = true
[pull]
	ff = only
