on_force_close "quit"
session_serialization false

keybinds {
    unbind "Ctrl o"
    unbind "Ctrl b"
    unbind "Ctrl h"

    normal {
        unbind "Ctrl b"
        bind "Ctrl e" { SwitchToMode "session"; }

        unbind "Ctrl h"
        bind "Ctrl a" { SwitchToMode "move"; }
    }

    move {
        unbind "Ctrl h"
        bind "Ctrl a" { SwitchToMode "normal"; }
    }
}

ui {
    pane_frames {
        rounded_corners true
    }
}

theme "catppuccin-frappe"
