on_force_close "quit"
session_serialization false

keybinds {
    unbind "Ctrl o"
    unbind "Ctrl b"

    normal {
        unbind "Ctrl b"
        bind "Ctrl e" { SwitchToMode "session"; }
    }
}

ui {
    pane_frames {
        rounded_corners true
    }
}

theme "catppuccin-macchiato"

