default_shell "nu"
default_layout "layout"

on_force_close "quit"
session_serialization false

show_startup_tips false
stacked_resize false

theme "gruvbox-dark"

ui {
    pane_frames {
        rounded_corners true
        hide_session_name true
    }
}

keybinds {
    unbind "Ctrl o"
    unbind "Ctrl b"
    unbind "Ctrl h"

    normal {
        unbind "Ctrl b"
        bind "Ctrl e" { SwitchToMode "session"; }

        unbind "Ctrl h"
        bind "Ctrl a" { SwitchToMode "move"; }

        bind "Alt f" { ToggleFloatingPanes; }
    }

    move {
        unbind "Ctrl h"
        bind "Ctrl a" { SwitchToMode "normal"; }
    }
}
